
   body{
        overflow-y: hidden;
        overflow-x: hidden;
        background: white;
        box-sizing: border-box; 
        width: 1918px;
        height: 935px;
        margin: 0 auto;
    }
    /* Căn chỉnh SideBar */
    aside{
        /* border: 1px solid; */
        background-color:#191718;
        width: 150px;
        height: 935px;
        margin-top: 0px;
        position: relative;
        z-index: 90;
        margin-left: -1px;
        /* margin left để 0 sẽ có chút màu trắng nên e để -1px */
    }


    /* Căn chỉnh thẻ ul */
    ul{
        position: absolute;
        padding-top: 0;
        padding-left: 0;
        list-style: none;
        margin-top: 0;
        margin-left: 0;
    }

    /* Định dạng cho thẻ li */
    ul li{
        font-family: sans-serif;
        font-weight: 500;
        color: #aaaaaa;
        box-sizing: border-box;
        padding: 20px;
        display: flex;
        align-items: center;
        height: 30px;
        width: 150px;
        border-bottom: 1px solid #5c5c5c ;
        background-color: #191718;
        z-index: 10;
        /* cursor: pointer; mockup chỉ show con trỏ bình thường, nên em tắt cursor pointer */
    }
    /* Màu trắng cho nút home */
    ul li:first-of-type{
        color: white;

    }
    /*  Hiệu ứng khi di chuột đến các nút*/
    li:hover {
        background-color: #5c5c5c;
        color: white;
    }

    /* Căn chỉnh footer */

    footer{
        position: absolute;
        left: 150px;
        background-color: white ;
        width: 1770px;
        height: 79px;
        z-index: 10;
        bottom: 0;
        display: flex;
        align-items: center;
        font-family: sans-serif;
        border-top: 1px solid #dedede;
        padding-left: 130px;
    }

    /* Căn chỉnh content (thẻ main) */
    main{
        height: 935px ;
        width: 1770px;
        background-color: white;
        z-index: 10;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
    }


    .logoNCC{
        margin-top: 20px;
        height: 122px;
        width: 310px;
        margin-bottom: 1.5rem;
    }

    .blockGrey{
        width: 1510px;
        height: 210px;
        background-color: #EFEFEF;
        margin: 0 auto;
        display: block;
        position: relative;
    }

    .blockGrey section{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .blockGrey h2{
        margin-top: 0;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 18px;
        line-height: 21.09px;
        
    }

    .blockGrey p{
        width: 972px;
        height: 95px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        margin: 0 auto;
    }

    .block3parts{
        
        display: flex;
        width: 1510px;
        height: 252px;
        margin: 0 auto;
        display: flex;
        text-align: left;
        margin-top: 2rem;
        justify-content: space-between;
    }



    .parent{
        display: block;
        width: 470px;
        height: 252px;
        justify-content: center;
    }

    .parent h2{
        font-family: 'Roboto';
        width: 470px;
        height: 28px;
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.13px;
    }

    .child_A{
        display: flex;
        justify-content: space-between;
        height: 134px;
        
    }

    .child____01 img{
        margin-top: 1rem;
        width: 128px;
        height: 128px;
    }


    .child____02 p{
        width: 326px;
        height: 134px;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
    }



    .child_B p{
        width: 470px;
        height: 72px;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
    }

    .hr{
        display: none;
    }


/* Responsive table max width 1024px*/
@media (max-width: 1024px) {
    body{
        overflow-y: scroll;
        height: 100vh;
    }
    main{
        margin-top: 2rem;
        height: 100% ;
        width: 95%;
        background-color: white;
        z-index: 10;
        position: absolute;
        right: 0;
        top: 0;
    }

    aside {
        height: 150%
    }

    .logoNCC{
        margin-top: 1rem;
        justify-content: center;
        margin-left: 99.5px;
    }

    .blockGrey{
        width: 100%;
        height: 25%;
        background-color: #EFEFEF;
        display: block;
        position: relative;
    }

    .blockGrey section{
        position: relative;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .blockGrey h2{
        margin-top: 0;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 18px;
        line-height: 21.09px;
    }

    .blockGrey p{
        margin-left: 10%;
        margin-right: 10%;
        width: 85%;
        height: 100%;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
    }

    .block3parts{
        display: block;
        width: 100%;
        height: 252px;
        margin: 0 auto;
        text-align: left;
        margin-top: 2rem;
    }


    .parent{
        display: block;
        width: 85%;
        height: 252px;
        justify-content: center;
        position: relative;
        margin-left: 115px;
        margin-bottom: 2rem;
    }

    .parent h2{
        font-family: 'Roboto';
        width: 100%;
        height: 28px;
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.13px;
        margin-bottom: 1rem;
    }

    .child_A{
        display: flex;
        justify-content: space-between;
        height: 134px;
        
    }

    .child____01 img{
        width: auto;
        height: 200px;
        margin: 0 auto;
        position: relative;
    }


    .child____02 p{
        width: 326px;
        height: 134px;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        line-height: 18.75px;
        margin-top: 0;
        margin-right: 1rem;
    }



    .child_B p{
        
        width: 326px;
        height: 72px;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        line-height: 18.75px;
        position: absolute;
        right: 1rem;
        top: 10rem;
    }

    footer{
        position: absolute;
        background-color: white ;
        width: 100%;
        height: 50px;
        z-index: 10;
        font-family: sans-serif;
        border-top: 1px solid #dedede;
        top: 1300px;
    }
    footer p{
        margin-left: -120px;
    }
}


/* Responsive mobile max width 768px*/
@media (max-width: 768px) {
    aside{
        position: absolute;
        background-color: unset;
        width: 100%;
    }

    ul{
        display: flex;
        position: relative;
        padding-top: 0;
        padding-left: 0;
        list-style: none;
        margin-top: 0;
        margin-left: 0;
    }

    li{
        font-family: sans-serif;
        font-weight: 500;
        color: #aaaaaa;
        box-sizing: border-box;
        padding: 100%;
        display: flex;
        justify-content: center;
        height: 30px;
        width: 100%;
        border-bottom: 1px solid #5c5c5c ;
        background-color: #191718;
        z-index: 10;
    }

main{
        /* overflow-y: scroll; */
        margin-top: 2rem;
        height: 100% ;
        width: 95%;
        background-color: white;
        z-index: 10;
        position: absolute;
        right: 0;
        top: 0;
    }


    .logoNCC{
        margin-top: 2rem;
        justify-content: center;
        margin-left: -25.5px;
        margin-bottom: 1rem;
    }

    .blockGrey{
        width: 100%;
        height: 35%;
        background-color: #EFEFEF;
        display: block;
        position: relative;
        left: -0.7rem;
        justify-content: center;

    }

    .blockGrey section{
        position: relative;
        margin-left: 0rem;
        margin-right: 2rem;
    }

    .blockGrey h2{
        margin-top: 0;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 18px;
        line-height: 21.09px;
        margin-left: 0px;
        
    }

    .blockGrey p{
        margin-left: 10%;
        margin-right: 10%;
        width: 85%;
        height: 100%;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
    }

    .block3parts{
        position: relative;
        margin-left: -0.7rem;
        margin-right: 2rem;
    }


    .parent{
        display: block;
        width: 100%;
        height: 252px;
        justify-content: center;
        /* border: 1px solid black; */
        position: relative;
        margin-left: 0px;
        margin-bottom: 2rem;
    }

    .parent h2{
        font-family: 'Roboto';
        width: 100%;
        height: 28px;
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.13px;
        margin-bottom: 1rem;
    }

    .child_A{
        display: flex;
        justify-content: space-between;
        height: 134px;
    }

    .child____01 img{
        width: 128;
        height: 128px;
        margin: 0 auto;
        /* position: relative; */
    }


    .child____02 p{
        width: 326px;
        height: 134px;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        line-height: 18.75px;
        margin-top: 0;
        margin-right: 1rem;
    }



    .child_B p{
        width: 100%;
        height: 72px;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        line-height: 18.75px;
        position: absolute;
        right: 0rem;
        top: 10rem;
        /* border: 1px solid black; */
    }
    footer{

        position: relative;
        background-color: white ;
        width: 100%;
        height: 50px;
        z-index: 10;
        font-family: sans-serif;
        border-top: 1px solid #dedede;
        top: 1380px;
        margin-left: -150px;
    }
    
}

